<%= render "shared/header" %>
<div class="jumbotron">
  <div class='index-content'>
    <br><br><h1 class='text-white'>~ Go to Camping ~</h1>
  </div>
</div>
<br><br>
<h1>難易度別レシピ</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src='../images/camp_cook1.jpg' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">レシピ難易度1</h5>
          <p class="card-text">料理の説明</p>
          <a href="#" class="btn btn-success">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src='../images/camp_cook1.jpg' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">レシピ難易度2</h5>
          <p class="card-text">料理の説明</p>
          <a href="#" class="btn btn-success">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src='../images/camp_cook1.jpg' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">レシピ難易度3</h5>
          <p class="card-text">料理の説明</p>
          <a href="#" class="btn btn-success">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <br><br><h1>新規投稿レシピ一覧</h1>
  <div class="container">
  <div class="row">

    <% @recipes.each do |recipe| %>
    <div class="col-sm">
      <div class="card card-show" style="width: 18rem;">
        <%= image_tag recipe.image, class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title">
            <%= recipe.title %>
          </h5>
          <p class="card-text">
            <%= recipe.description%>
          </p>
          <%= link_to "レシピ詳細", recipe_path(recipe.id) ,class:"btn btn-success"%>
        </div>
      </div>
    </div>
    <% end %>
    </div>
  </div>
</div>


<%= render "shared/footer" %>
