<%= render "shared/second-header"%>

<%= form_with model: @recipe_ingredient_procedure, url: recipes_path, id: 'new_user', class: 'col-lg-6 text-center mx-auto', local: true do |f| %>
  <br><br>
  <div class='form-header'>
    <h1 class='form-header-text'>
      レシピ投稿
    </h1>
  </div>
  <br>
  <%= render 'shared/error_messages', model: f.object %>
  <div class="row">
    <label for="title" class="form-label">料理名</label>
    <%= f.text_field :title, class:"form-control", id:"title", placeholder:"例) えびとブロッコリーのアヒージョ" %>
  </div>
  <div class="row">
    <label for="description" class="form-label">料理の画像</label>
    <%= f.file_field :image, class:"form-control", id:"cook-image" %>
  </div>
  
  <div class="row">
    <label for="level" class="form-label">料理の難易度</label>
    <%= f.collection_select(:level_id, Level.all, :id, :name, {}, {class:"form-control"}) %>
  </div>

  <div class="row">
    <label for="description" class="form-label">料理の説明</label>
    <%= f.text_area :description, class:"form-control", id:"description", placeholder:"papapapappapapapa"%>
  </div>
  <div class="row">
    <label for="people" class="form-label">何人前</label>
    <%= f.text_field :people, class:"form-control", id:"people", placeholder:"例) １〜２人前" %>
  </div>

  <div class="d-flex justify-content-around">
    <div class="flex-column">
      <label for="ingredient" class="form-label">材料名</label>
    </div>
    <div class="flex-column">
      <label for="amount" class="form-label">分量</label>
    </div>
  </div>
  <% 10.times do |i| %>
  <%= f.fields_for "ingredients[#{i}]" do |field| %>
  <div class="d-flex justify-content-around">
    <div class="flex-column">
      <div class="row">
        <%= field.text_field :ingredient, class:"form-control", id:"ingredient", placeholder:"例) 砂糖" %>
      </div>
    </div>
    <div class="flex-column">
      <div class="row">
        <%= field.text_field :amount, class:"form-control", id:"amount", placeholder:"例) 大さじ１" %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
  <div class="row">
    <label for="procedure" class="form-label">料理手順</label>
    <%= f.text_area :procedure, class:"form-control", id:"procedure", placeholder:"例) ①調味料の〇〇と〇〇を混ぜる" %>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>

<%= render "shared/second-header"%>
