<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <div class="row">
    <label for="description" class="form-label">料理の説明</label>
    <%= f.text_area :description, class:"form-control", id:"description", placeholder:"papapapappapapapa"%>
  </div>
  <div class="row">
    <label for="people" class="form-label">何人前</label>
    <%= f.text_area :people, class:"form-control", id:"people", placeholder:"例) １〜２人前" %>
  </div>

  <% 10.times do |i| %>
  <%= f.fields_for "ingredients[#{i}]" do |field| %>
  <div class="d-flex justify-content-around">
    <div class="flex-column">
      <div class="row">
        <label for="ingredient" class="form-label">材料名</label>
        <%= field.text_field :ingredient, class:"form-control", id:"ingredient", placeholder:"例) 砂糖" %>
      </div>
    </div>
    <div class="flex-column">
      <div class="row">
        <label for="amount" class="form-label">分量</label>
        <%= field.text_field :amount, class:"form-control", id:"amount", placeholder:"例) 大さじ１" %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>

  <div class="row">
    <label for="procedure" class="form-label">料理手順</label>
    <%= f.text_area :procedure, class:"form-control", id:"procedure", placeholder:"例) ①調味料の〇〇と〇〇を混ぜる" %>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>
<%= render "shared/second-header"%>
